html, html a {
  -webkit-font-smoothing: antialiased;
}

.intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.vid-overlay {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.site-title {
  font-size: 120px;
  text-align: center;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 220px;
  top: 0;
  bottom: 0;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  opacity: 0.9;
}

.site-title span {
  display: block;
  font-size: 24px;
  letter-spacing: 5px;
  font-weight: 100;
  text-transform: uppercase;
}

.navbar {
  font-family: 'Source Sans Pro', sans-serif;
  z-index: 1;
  border-radius: 0;
  background-color: #fff;
  border-color: #fff;
  font-weight: 700
}

.navbar-default .navbar-brand {
  font-size: 2em;
  color: #000;
}

.navbar-default .navbar-nav > li > a {
  color: #000;
}

.red {
  color: red;
}

.social {
  height: 8em;
  width: 100%;
  position: absolute;
  top: 100%;
  background-color: #242323;
}

.about {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
  margin-top: 8em;
}

.orange-bg, .blue-bg, .red-bg {
  height: 20em;
  width: 100%;
}

.orange-bg {
  background-color: #FF9900;
}

.blue-bg {
  background-color: #0066FF;
}

.red-bg {
  background-color: #FF0000;
}